# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
.firebaserc.local

# Dépendances (au cas où des outils seraient ajoutés plus tard)
node_modules/

# Fichiers système
.DS_Store
Thumbs.db
desktop.ini

# Éditeurs
.vscode/
.idea/
*.swp
